<div class="col-xs-8">
<h2>商品一覧(全<%= @quantity %>件)</h2>
<div class="row">
<% @products.each do |product| %>
 <div class="box" style="float:left; margin-right:10px;">
<%= link_to product_path(product.id) do %>
<%= attachment_image_tag @priduct, :image_id, size: "220x170",  fallback: "cake.jpg" %><br>
<% end %>
  <p><%= product.name %></p>
  <p>¥<%= product.price %></p>
  </div>
<% end %>
  </div>
  <div class= "text-center">
  <%= paginate @products %>
</div>
