<%= attachment_image_tag @product, :image_id, size: "220x170",  fallback: "cake.jpg" %><br>
<p><%= @product.name %></p>
<p><%= @product.opinion %></p>
<p>¥<%= @product.price %>（税込）</p>
<%= form_for @cart_item, url: cart_items_path(@cart_item.id) do |f| %>
<%= f.hidden_field :product_id, value: @product.id %>
<%= f.hidden_field :customer_id, value: current_customer.id %>
<%= f.select :quantity, options_for_select((1..20).to_a), include_blank: "個数選択" %>
<%= f.submit "カートに入れる", class: 'btn btn-success' %>
<% end %>
