<div class="container">
  <div class="row">
    <div style="margin-top: 100px;">
      <div class="col-xs-5">
      <p style="margin-left: 280px;"><%= attachment_image_tag @product, :image, size: "300x220",  fallback: "cake.jpg" %><p></p><br>
      </div>
    </div>
    <div class="col-xs-5">
      <div style="margin-top: 100px;">
        <h1 style="margin-left: 40px;"><%= @product.name %></h1>
        <h5 style="margin-left: 40px;"><%= @product.opinion %></h5>
        <br>
        <br>
        <br>
        <p style="margin-left: 40px;">¥<%= @product.price %>（税込）</p>
        <%= form_for @cart_item, url: cart_items_path(@cart_item.id) do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <p style="margin-left: 40px;"><%= f.select :quantity, options_for_select((1..20).to_a), include_blank: "個数選択" %>
          <%= f.submit "カートに入れる", class: 'btn btn-success' %></p>
        <% end %>
        </div>
    </div>
	</div>
</div>

