<div class="main container">
    <div class="row-top d-flex justify-content-center align-items-center">
      <section class="subtext text-center">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない⽅も商品の閲覧はできますが、<br>
          購⼊には会員登録が必要になります。
        </p>
      </section>
    </div>
    <div class="row">
      <h2 style="margin: 10px 0;">新着商品</h2>
    </div>
    <div class="row">
      <% @products.each do |product| %>
        <% unless product.is_active == false %>
        <div class="col-3">
            <%= link_to product_path(product.id) do %>
              <%= attachment_image_tag product, :image, size: "220x170",  fallback: "cake.jpg" %><br>
            <% end %>
          <p><%= product.name %></p>
          <p><%= product.price %></p>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-11"></div>
      <div style="margin-left: 950px;"><%= link_to "全ての商品を見る>", products_path %></div>
    </div>
  </div>
</div>


