<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h2 style="margin: 50px 0;">注文履歴一覧</h2>
  </div>
  <div class="dflex justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th style="width:100px;">購入日</th>
          <th >購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= order.customer %></td>
            <td><%= order.ordered_products.all.sum(:quantity) %></td>
            <td><%= order.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @order_pages %>  
  </div>
</div>
