<h4>注文履歴詳細</h4>
<h4>購入者</h4>
  <%= @order.customer %>
<h4>注文日</h4>
  <%= @order.created_at %>
<h4>配送先</h4>
  <%= @order.customer %>
<h4>支払い方法</h4>
  <%= @order.total_price %>
<%= form_with url:"/admin/orders/#{@order.id}", method: :update, local: true do |f| %>
<h4>注文ステータス</h4>
<table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @order.products.name %></td>
    <td><%= @order.products %></td>
    <td><%= @order.ordered_products.sum(:amount) %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>