views/address/index.erb.html.erb

<h2>配送先一覧</h2>
<!--配送先投稿フォーム-->
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= form_with model:@address ,url:addresses_path, local:true do |f| %>
      <div class="form-group">
        <%= f.label '郵便番号(ハイフンなし)' %>
        <%= f.text_field :post_address, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label '住所' %>
        <%= f.text_field :street_address, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label '宛名' %>
        <%= f.text_field :address, class: "form-control name" %>
      </div>
      <!-- update button -->
      <div class="form-group">
        <%= f.submit "新規登録",class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

<!--配送先一覧-->
<table class = "table">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th>編集・削除</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.post_address %></td>
        <td><%= address.street_address %></td>
        <td><%= address.address %></td>
        <!--if is_deleted==false then 入会 else 退会 -->
        <td>
          <div><%= link_to '編集する', edit_address_path(address) %></div>
          <div><%= link_to '削除する', address_path(address) , method: :delete %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>