<h1>商品編集</h1>
<%= form_with model: @product, local:true do |f| %>
  <h3>商品画像</h3>
  <%= f.attachment_field :image %>
  <h3>商品名</h3>
  <%= f.text_field :name %>
  <h3>商品説明</h3>
  <%= f.text_area :opinion %>
  <h3>ジャンル</h3>
  <h3>税抜き価格</h3>
  <%= f.text_field :price %>
  <h3>販売ステータス</h3>
<% end %>