<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h4 style="margin: 50px 0;">商品一覧</h4>
  </div>
  <%= link_to new_admin_product_path(@product.id) do %>
    <i class="fas fa-plus-circle fa-2x fa-pull-right"></i>
  <% end %>
  <div class="dflex justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th style="width:100px">商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @products.each do |product| %>
      <tbody>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.name, admin_product_path(product.id) %></td>
          <td><%= product.price %></td>
          <td><%= product.genre.name %></td>
          <td><%= product.is_active %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="row">
    <%= paginate @products %>
  </div>
</div>
