<h3>注文情報確認</h3>
<br>
<br>
<div class="col-xs-8">
<table class="table table-hover">
<thead>
<tr>
<th>商品名</th>
<th>単価(税込)</th>
<th>数量</th>
<th>小計</th>
</tr>
</thead>
<tbody>
</table>

<%= form_with(model: @order, local: true, url: orders_path, method: :post) do |f| %>
<table class="table table-bordered">
<% @total = 0 %>
<% @cart_items.each do |cart_item| %>
<th><%= attachment_image_tag @product, :image_id, size: "90x90",  fallback: "cake.jpg" %>
<%= cart_item.product.name %>
<%= cart_item.product.price %>円
<%= cart_item.quantity %>個
<%= ((cart_item.product.price*1).floor*cart_item.quantity) %>
<% @total += ((cart_item.product.price*1).floor*cart_item.quantity) %></th>
<% end %>
</table>

<th>送料</th>
<th>800</th>
</tr>
<tr>
<th>商品合計</th>
<td><%= @total %></td>
</tr>
<tr>
<th>請求金額</th>
<td><%= @total + 800 %></td>
</tr>


<br>
<br>
<br>
<h4>支払い方法</h4>
<%= @order.payment %>


<h4>お届け先</h4>
<%= @order.post_address %><%= @order.street_address %><br>
<%= @order.address %><br>

<div class="text-center">
<%= f.submit "注文を確定する", class: 'btn btn-success' %>


</div>

<% end %>

