<div class="container">
<h3><b>注文情報確認</b></h3>
<br>

<div class="col-xs-8">
<table class="table table-bordered">
<thead>
<tr>
<th>商品名</th>
<th>単価(税込)</th>
<th>数量</th>
<th>小計</th>
</tr>
</thead>
<tbody>
<!--</table>-->

<%= form_with(model: @order, local: true, url: orders_path, method: :post) do |f| %>
<!--<table class="table table-bordered">-->
<% @total = 0 %>
<tr>
<% @cart_items.each do |cart_item| %>
<td><%= attachment_image_tag cart_item.product, :image, size: "90x90",  fallback: "cake.jpg" %><%= cart_item.product.name %></td>
<td><%= cart_item.product.price %>円</td>
<td><%= cart_item.quantity %>個</td>
<td><%= ((cart_item.product.price*1).floor*cart_item.quantity) %></td>
<% @total += ((cart_item.product.price*1).floor*cart_item.quantity) %>
</tr>
</div>
<% end %>

<div class="float-right">
<table class="table table-bordered">
<tr>
<th width="150px">送料</th>
<th>800</th>
</tr>
<th>商品合計</th>
<td><%= @total %></td>
<tr>
<th>請求金額</th>
<td><%= @total + 800 %></td>
</tr>
</table>


</table>
<!--<br>-->
<div class="row">
<h4 style="margin-right: 40px;"><b>支払方法</b></h4>
<!--<div class="flat-left: 200px;">-->
<%= @order.payment %>
<%= f.hidden_field :payment %>
</div>

<div class="row">
<h4 style="margin-right: 40px;"><b>お届け先</b></h4>
<div><%= @order.post_address %><%= @order.street_address %><br>
<%= @order.address %></div><br>
</div>

<%= f.hidden_field :post_address %>
<%= f.hidden_field :street_address %>
<%= f.hidden_field :address %>
<%= f.hidden_field :shipping_cost, :value => "800" %>
<%= f.hidden_field :total_price, :value => @total %>

<div class="text-center">
<%= f.submit "注文を確定する", class: 'btn btn-success' %>
</div>


<% end %>
</div>
