<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h3 style="margin: 50px 0;">注文履歴詳細</h3>
  </div>
  <div class="row">
    <h5>注文情報</h5>
    <h5 style="margin-left: 562px;">請求情報</h5>
  </div>
  <div class="row">
    <table border="1" style="border-collapse: collapse" align="left">
      <tr>
        <td width="200" height="50" bgcolor="#C0C0C0">注文日</td>
        <td width="400" height="50"><%= @order.created_at %></td>
      </tr>
      <tr>
        <td width="200" height="50" bgcolor="#C0C0C0">配送先</td>
        <td width="400" height="50">
          <span><%= @order.post_address %></span>
          <span style="padding:0 5px;"><%= @order.street_address %></span>
          <span><%= @order.address %></span>
        </td>
      </tr>
      <tr>
        <td width="200" height="50" bgcolor="#C0C0C0">支払い方法</td>
        <td width="400" height="50"><%= @order.payment %></td>
      </tr>
      <tr>
        <td width="200" height="50" bgcolor="#C0C0C0">ステータス</td>
        <td width="400" height="50"><%= @order.status %></td>
      </tr>
    </table>
    <div style="margin-left: 40px;">
      <table border="1" style="border-collapse: collapse">
        <tr>
          <td width="100" height="50" bgcolor="#C0C0C0">商品合計</td>
          <td width="150" height="50"><%= @order.total_price %></td>
        </tr>
        <tr>
          <td width="100" height="50" bgcolor="#C0C0C0">配送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td width="100" height="50" bgcolor="#C0C0C0">ご請求額</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h5 style="margin: 20px 0;">注文内容</h5>
  </div>
  <div class="row">
    <table border="1" style="border-collapse: collapse">
      <tr>
        <th width="300" height="50" bgcolor="#C0C0C0">商品</th>
        <th width="150" height="50" bgcolor="#C0C0C0">単価（税込）</th>
        <th width="70" height="50" bgcolor="#C0C0C0">個数</th>
        <th width="90" height="50" bgcolor="#C0C0C0">小計</th>
      </tr>
      <tr>
        <td height="50">ケーキ</td>
        <td height="50">1,000</td>
        <td height="50">2</td>
        <td height="50">2,000</td>
      </tr>
    </table>
  </div>
</div>
</div>